<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      Rules
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Terms and Conditions
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      This covers all of the Terms and Conditions for the Voyage.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Pricing Policy
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600  text-lg lg:text-2xl">
          The rates herein are guaranteed for 30 days from Feb 24, 2024, subject to cabin availability. Rates may be subject to adjustment post exhaustion of allocated cabins or beyond the specified date.
        </li>

        <li class="text-gray-600  text-lg lg:text-2xl">
          Listed minimum price represents the minimum price for that cabin type, quoted per person when two cruisers are assigned to the room, which includes:

          <ul class="list-circle ml-8">
            <li>Cabin Price</li>
            <li>VOOM Wifi (1 per passenger)</li>
            <li>Convention Lanyard with Clear SeaPass Holder</li>
            <li>Exclusive On-board and on-shore CCC2025 Events</li>
            <li>Access to purchase exclusive CCC2025 Excursions</li>
            <li>Gratuities</li>
          </ul>
        </li>
      </ul>
    </div>

    <p class="text-gray-600 text-lg lg:text-2xl">
      Bookings made outside of CCC2025’s official cruise agent will not be eligible for these benefits.
    </p>

    <p class="text-gray-600 text-lg lg:text-2xl">
      Excluded from the fare are expenses related to:
    </p>

    <div>
      <ul class="list-disc ml-8 text-gray-500 text-lg lg:text-2xl">
        <li>shore excursions</li>
        <li>beverage and meal packages</li>
        <li>purchases made on shore or onboard</li>
        <li>dining at specialty restaurants</li>
        <li>telecommunication charges</li>
        <li>additional Wifi devices beyond the one included</li>
        <li>airfare</li>
        <li>transportation to/from the departure port</li>
        <li>photographic services</li>
        <li>healthcare services</li>
        <li>insurance</li>
        <li>spa and salon services</li>
        <li>laundry services</li>
        <li>
          accommodation upgrades, including:
          <ul class="list-circle ml-8">
            <li>location upgrades</li>
            <li>RoyalUp bids</li>
            <li>cabin class upgrades</li>
            <li>cabins with greater than 2 cruisers allowed in the room</li>
          </ul>
        </li>
        <li>additional room keys</li>
        <li>arcade tokens</li>
        <li>additional gratutities beyond the automatic ones mentioned above</li>
        <li>any other ancillary services not explicitly mentioned above</li>
      </ul>
    </div>



  </div>
</article>
