<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="text-xl text-grey-500 font-semibold">
      The cruise schedule is going live soon, but to give you time to get your cosplay line-ups together, here are the cosplay events we are hosting on our 4 days at sea!
    </div>
    <div class="text-2xl lg:text-3xl  font-medium">
      Ninja Bar Crawl 🛳⚓️
      <div class="text-xl font-gray-500 font-normal lg:indent-4">
        Get your stealthiest Ninja outfits ready as we Naruto Run the night away! Past Cruisers, don't forget your Cocktail Ninja Headband! 🍸
      </div>
    </div>
    <div class="text-2xl lg:text-3xl  font-medium">
      Mermaids and Mimosas 🥂🧜‍♀️
      <div class="text-xl font-gray-500 font-normal lg:indent-4">
        What's better than being a mermaid? Being a mermaid with a fancy drink! Put together your most magical mermaid garb and sip and splash all morning!
      </div>
    </div>
    <div class="text-2xl lg:text-3xl  font-medium">
      The Beach Episode Cosplay Contest 🏖👙
      <div class="text-xl font-gray-500 font-normal lg:indent-4">
        That's right, this is not your normal Cosplay Contest, it's Beach and Swimwear themed! So get those floaties and sunscreen ready for our Cosplay day at CocoCay!
      </div>
    </div>
    <div class="text-2xl lg:text-3xl  font-medium">
      Formal Dinner Fashion Show
      <div class="text-xl font-gray-500 font-normal lg:indent-4">
        Ballgowns STRONGLY encouraged.
      </div>
    </div>
    <div class="text-2xl lg:text-3xl  font-medium">
      Spicy Weeb Soup 🍜🍲🍤
      <div class="text-xl font-gray-500 font-normal lg:indent-4">
        It is the hottest HotPot Hot-Tub Party around! Ramen and hotpot themed swimwear for the ultimate spicy broth!
      </div>
    </div>
    <div class="text-2xl lg:text-3xl  font-medium">
      Weeaboomer Support Group Ugly Hawaiian Shirt Contest
      <div class="text-xl font-gray-500 font-normal lg:indent-4">
        Got a Hawaiian shirt that will put Jimmy Buffet to shame? Today is your day!
      </div>
    </div>
    <div class="text-2xl lg:text-3xl  font-medium">
      Kigurumi Send Off Party
      <div class="text-xl font-gray-500 font-normal lg:indent-4">
        Go find that perfect onesie and PJ party our final night aboard the ship!
      </div>
    </div>
    <div class="text-2xl lg:text-3xl  font-medium">
      <div class="text-xl font-gray-500 font-normal lg:indent-4">
      </div>
    </div>

  </div>
</article>
