<div class="px-4 py-2  w-full">
  <div class="flex flex-row">
    <div class="basis-1/2">
      <div class="grid grid-flow-col grid-cols-4 grid-rows-2 lg:grid-rows-1 gap-x-4 ">
        <a class="row-span-2" href="https://colossalconprime.com/" target="_blank">
          <img class="shadow rounded border border-solid border-gray-400 hover:opacity-70 cursor-pointer " ngSrc="cropped-colossal25-w.-border-1.png" width="200" height="200" />
        </a>
        <a class="row-span-2" href="https://colossalconeast.com/" target="_blank">
          <img class="shadow rounded border border-solid border-gray-400 hover:opacity-70 cursor-pointer " ngSrc="cropped-coleast_fb_header-1.png" width="200" height="200" />
        </a>
        <a class="row-span-2" href="https://colossalconnorth.com/" target="_blank">
          <img class="shadow rounded border border-solid border-gray-400 hover:opacity-70 cursor-pointer " ngSrc="cropped-colnorth2025_banner.png" width="200" height="200" />
        </a>
        <a class="row-span-2" href="https://colossalcontexas.com/" target="_blank">
          <img class="shadow rounded border border-solid border-gray-400 hover:opacity-70 cursor-pointer " ngSrc="cropped-coltex-newbanner2024.png" width="200" height="200" />
        </a>
      </div>
    </div>
    <div class="basis-1/2 content-center">
      <div class="flex flex-row justify-end  gap-x-4">
        <div class="lg:self-center">
          Follow Us:
        </div>
        <a class="self-center" href="https://www.instagram.com/colossalcon" target="_blank">
          <i class="pi pi-instagram text-red-500 text-2xl lg:text-lg"></i>
        </a>

        <a class="self-center" href="https://www.facebook.com/Colossalconcruise" target="_blank">
          <i class="pi pi-facebook text-blue-500 text-2xl lg:text-lg"></i>
        </a>
        <a class="self-center" href="https://discord.gg/snskavqjf3" target="_blank">
          <i class="pi pi-discord text-black text-2xl lg:text-lg"></i>
        </a>
        <a class="self-center" href="mailto:colossalconcruise@gmail.com" target="_blank">
          <i class="pi pi-envelope text-blue-800 text-2xl lg:text-lg"></i>
        </a>
      </div>
    </div>

  </div>
</div>
