<div class="px-4 py-2  w-full">
  <div class="flex flex-row justify-end gap-x-4 lg:gap-x-3">
    <div class="lg:self-center">
      Follow Us:
    </div>
    <a href="https://www.instagram.com/colossalcon" target="_blank">
      <i class="pi pi-instagram self-center text-red-500 text-2xl lg:text-lg"></i>
    </a>

    <a href="https://www.facebook.com/Colossalconcruise" target="_blank">
      <i class="pi pi-facebook self-center text-blue-500 text-2xl lg:text-lg"></i>
    </a>
    <a href="https://discord.gg/snskavqjf3" target="_blank">
      <i class="pi pi-discord self-center text-black text-2xl lg:text-lg"></i>
    </a>
    <a href="mailto:colossalconcruise@gmail.com" target="_blank">
      <i class="pi pi-envelope self-center text-blue-800 text-2xl lg:text-lg"></i>
    </a>
  </div>

</div>
