<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tip: Wi-Fi Calling
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      Leverage Wi-Fi calling onboard for enhanced communication, bypassing the limitations of messenger apps and cellular services.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      About Wi-Fi Calling
    </div>

    <div class="text-gray-500  text-2xl">
      Wi-Fi calling uses the ship’s Wi-Fi network for phone calls, offering clearer quality and seamless use of your existing phone number. This feature is ideal for staying in touch with others onboard and onshore without incurring additional costs.
    </div>


    <div class="text-4xl my-4 text-gray-600 font-bold">
      Steps to Enable
    </div>

    <div>
      <ul class="list-decimal ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          <div class="inline text-gray-500 font-medium">
            Check your phone’s compatibility.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          <div class="inline text-gray-500 font-medium">
            Enable Wi-Fi calling in your device settings.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          <div class="inline text-gray-500 font-medium">
            Connect to the ship’s Wi-Fi.
          </div>
        </li>

      </ul>
    </div>

    <div class="text-gray-500  text-2xl">
      Ensure you’re aware of any potential charges by your service provider, but generally, Wi-Fi calling is a cost-effective option for cruisers.
    </div>

    <div class="text-gray-500  text-2xl">
      By opting for Wi-Fi calling, you ensure a more reliable and cost-efficient way to communicate while enjoying your cruise.
    </div>

  </div>
</article>
