<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tips: Internet Packages
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>


    <div>
      <div class="text-2xl font-bold">
        Where can I receive wi-fi?
      </div>
      <div class="text-gray-500 text-xl">
        Wi-fi is available on the ship and Cococay only.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Tip: Wi-fi Calling
      </div>
      <div class="text-gray-500 text-xl my-2">
        Wi-Fi calling uses the ship’s Wi-Fi network for phone calls, offering clearer quality and seamless use of your existing phone number. This feature is ideal for staying in touch with others onboard and onshore without incurring additional costs.
      </div>
      <div class="text-gray-500 text-xl">
        Steps to enable
        <ul class="list-decimal ml-8">
          <li>Check your phone's compatibility</li>
          <li>Enable Wi-Fi calling in your device settings.</li>
          <li>Connect to the ship's Wi-Fi</li>
        </ul>
      </div>
    </div>
    

  </div>
</article>
