<article class="container mx-auto p-4 lg:p-0">
  <div class="flex flex-col gap-y-4 p-4">
    <div class="text-2xl text-center">
      Port Shuttles & Transportation
    </div>
    <div class="text-gray-600 text-xl *:my-2">
      <p>
        The only official Colossalcon Cruise-endorsed transportation is hosted through Hampton Inn.
      </p>
      <p>
        With your hotel booking through Colossalcon Cruise’s booking link, you have the shuttle from the hotel to the cruise port included in your booking. Please note, you will have to schedule with the front desk on check in to get a time slot. You also have from cruise port to hotel return trip included.
      </p>
      <p>
        However, additional travel options can be found <a class="hyperlink" href="https://portcanaveralhotelshuttle.com/hotels/hampton-inn-and-suites-cc-cruise-port/" target="_blank">here</a>.
      </p>
    </div>

    <div class="text-gray-600 text-xl">
      The endorsed transportation has multiple options available for travel between the airport, hotel, and cruise terminal and should be booked ahead of time.
    </div>
    <div>
      <span class="font-semibold">Hotel</span>(Hampton Inn/Home2) to <span class="font-semibold">Cruise</span>: $10/pp
      <div class="text-sm text-gray-600">Note: This is included with any CCC Hotel Booking for all registered guests</div>
    </div>
    <div>
      <span class="font-semibold">Hotel</span>(Hampton Inn/Home2) to <span class="font-semibold">Cruise</span> to <span class="font-semibold">Hotel</span>: $20/pp
      <div class="text-sm text-gray-600">Note: This is included with any CCC Hotel Booking for all registered guests</div>
    </div>
    <div>
      <span class="font-semibold">Hotel</span>(Hampton Inn/Home2) to <span class="font-semibold">Cruise</span> to <span class="font-semibold">Airport</span>: $30/pp
    </div>
    <div>
      <span class="font-semibold">Airport</span> to <span class="font-semibold">Hotel</span> to <span class="font-semibold">Cruise</span> to <span class="font-semibold">Airport</span>: $52/pp
    </div>
    <div>
      <span class="font-semibold">Hotel</span>(Hampton Inn/Home2) to <span class="font-semibold">Any local Cocoa Beach or Cape Canaveral address</span>: $40/up to 4 people
    </div>
    <div class="text-xs text-gray-500">
      <span class="font-semibold">Note</span>: Colossalcon Cruise does not receive any promotions or compensation from any of the companies listed below. Colossalcon Cruise is not responsible for any issues or nor do they endorse any 3rd party businesses. The companies listed below are just suggestions to help with trip planning. All bookings must be done by the cruisers.
    </div>
  </div>

  <div class="flex flex-col gap-y-6 my-8">

      ***UPDATE THIS TO MATCH THE NEW SITE ABOVE'S INFORMATION INSTEAD OF DIRECT LINKS***

    <div>
      <div class="text-2xl text-gray-700 font-semibold">Airport to Hotel</div>
      <div class="text-xl font-medium">UberX(4) Approx. Estimate: <span>$83</span></div>
    </div>

    <div>
      <div class="text-2xl text-gray-700 font-semibold">Airport to Cruise Terminal</div>
      <div class="text-xl font-medium">UberX(4) Approx. Estimate: <span>$64</span></div>
      <div class="text-xl font-medium">GoPort: <span class="font-normal">goport.com</span></div>
      <p>
        The shuttle from the Airport to the cruise terminal runs from 10AM-12:30PM only and should be booked in advance.
      </p>
      <p>
        Shuttle from MCO Airport to Cruise Terminal ~ $30/pp
      </p>
      <p>
        Shuttle From MCO Airport to Cruise Terminal round trip ~ $60/pp
      </p>
    </div>

    <div>
      <div class="text-2xl text-gray-700 font-semibold">Hotel to Cruise Terminal</div>
      <div class="text-xl font-medium">UberX(4) Approx. Estimate: <span>$17</span></div>
      <div class="text-xl font-medium">Hampton Inn/Home2</div>
      <a class="hyperlink" href="https://porthotelshuttle.com/hampton-inn-suites-canaveral/?fbclid=IwY2xjawHyriVleHRuA2FlbQIxMAABHa2De0rX33komTux5wyg6OMFRmHzGD7UNB83MckHIlPKyJuV8M9f6tnrmg_aem_O_5ps7xOIo3A1dZHC4HcQg  " target="_blank">https://porthotelshuttle.com/hampton-inn-suites-canaveral/?fbclid=IwY2xjawHyriVleHRuA2FlbQIxMAABHa2De0rX33komTux5wyg6OMFRmHzGD7UNB83MckHIlPKyJuV8M9f6tnrmg_aem_O_5ps7xOIo3A1dZHC4HcQg</a>
      <div class="text-xs text-gray-500">
        <span class="font-semibold">Note</span>: This is included with a CCC room booking for all registered guests.
      </div>
    </div>
    <div>
      <div class="text-2xl text-gray-700 font-semibold">Cruise Terminal to Hotel</div>
      <div class="text-xl font-medium">UberX(4) Approx. Estimate: <span>$22</span></div>
      <div class="text-xl font-medium">Hampton Inn/Home2</div>
      <a class="hyperlink" href="https://porthotelshuttle.com/hampton-inn-suites-canaveral/?fbclid=IwY2xjawHyriVleHRuA2FlbQIxMAABHa2De0rX33komTux5wyg6OMFRmHzGD7UNB83MckHIlPKyJuV8M9f6tnrmg_aem_O_5ps7xOIo3A1dZHC4HcQg" target="_blank">https://porthotelshuttle.com/hampton-inn-suites-canaveral/?fbclid=IwY2xjawHyriVleHRuA2FlbQIxMAABHa2De0rX33komTux5wyg6OMFRmHzGD7UNB83MckHIlPKyJuV8M9f6tnrmg_aem_O_5ps7xOIo3A1dZHC4HcQg</a>
      <div class="text-xs text-gray-500">
        <span class="font-semibold">Note</span>: This is included with a CCC room booking for all registered guests.
      </div>
    </div>
    <div>
      <div class="text-2xl text-gray-700 font-semibold">Cruise Terminal to Airport</div>
      <div class="text-xl font-medium">UberX(4) Approx. Estimate: <span>$86</span></div>
      <div class="text-xl font-medium">GoPort: <span class="font-normal">goport.com</span></div>
      <div>Shuttle from Cruise Terminal to MCO Airport ~ $30/pp</div>
      <div class="text-xl font-medium">Hampton Inn/Home2</div>
      <a class="hyperlink" href="https://porthotelshuttle.com/hampton-inn-suites-canaveral/?fbclid=IwY2xjawHyriVleHRuA2FlbQIxMAABHa2De0rX33komTux5wyg6OMFRmHzGD7UNB83MckHIlPKyJuV8M9f6tnrmg_aem_O_5ps7xOIo3A1dZHC4HcQg  " target="_blank">https://porthotelshuttle.com/hampton-inn-suites-canaveral/?fbclid=IwY2xjawHyriVleHRuA2FlbQIxMAABHa2De0rX33komTux5wyg6OMFRmHzGD7UNB83MckHIlPKyJuV8M9f6tnrmg_aem_O_5ps7xOIo3A1dZHC4HcQg  </a>
      <div class="text-xs text-gray-500">
        <span class="font-semibold">Note</span>: This is included with a CCC room booking for all registered guests.
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-4 my-8">
    <div>
      <div class="text-2xl text-gray-700 font-semibold">Parking</div>
    </div>

    <div>
      <div class="text-xl font-medium">
        Hampton Inn/Home2 [Link to CCC Hotels Page here]
      </div>
      <div>
        Parking is available onsite for cruisers staying at one of the Colossalcon Cruise's official hotels. It is $10/night while you have your hotel reservation and then $25/night for up to 7 days if you do not have an active hotel reservation.
      </div>
    </div>

    <div>
      Other popular parking options are:
    </div>

    <div>
      <div class="text-xl font-medium">
        Port Parking Space: <a class="hyperlink" href="https://portparkingspace.com/" target="_blank">https://portparkingspace.com/</a>
      </div>
      <div>
        Parking here is off-site and accessible via shuttle. Parking is approximately $15/day after fees and taxes. Shuttle accommodates multiple passengers from the same vehicle.
      </div>

    </div>

    <div>
      <div class="text-xl font-medium">
        Port Canaveral Terminal Parking: <a class="hyperlink" href="https://www.portcanaveral.com/Cruise/Directions-Parking" target="_blank">https://www.portcanaveral.com/Cruise/Directions-Parking</a>
      </div>
      <div>
        Parking here is on-site and within walking distance of the terminal. Parking is approximately $17/Day + tax including arrival and departure day. This is Credit card only. There are disabled spaces available for no fee, however, there is a criteria list that must be met to utilize this for no fee. Information regarding this is available on the website listed above.
      </div>
      <div class="font-bold">
        No reservations are needed to utilize this.
      </div>

    </div>
  </div>
</article>
<div class="lg:mb-12 hidden lg:block">
  <div class="hidden">spacing footer</div>
</div>



