<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tips: Main Dining
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      This section covers how table assignment in the main dining room works.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Table Assignment
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Notification:
          <div class="inline text-gray-500 font-medium">
            Your table assignment will be available in the cruise app shortly before your cruise begins.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Flexibility:
          <div class="inline text-gray-500 font-medium">
            If you wish to change your table or dining time, contact customer service. They’ll assist with available options.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Ordering Flexibility
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          <div class="inline text-gray-500 font-medium">
            You’re not limited to a single appetizer, entrée, and dessert. Feel free to order multiple dishes at once if you’re extra hungry. Just remember to place all your orders together to streamline service.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Drink Package Usage
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          <div class="inline text-gray-500 font-medium">
            Your drink package is valid in the Main Dining Room. This means you can enjoy a wide range of beverages, from soft drinks to cocktails, as part of your package. Availability may vary, so check the specific terms of your package.
          </div>
        </li>
      </ul>
    </div>

  </div>
</article>
