<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tips: Main Dining
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>


    <div>
      <div class="text-2xl font-bold">
        When is our formal dining time?
      </div>
      <div class="text-gray-500 text-xl">
        Our default dining time should be <span class="font-bold">5:30 pm</span>. If this time does not work, please contact customer service ahead of time to change or you can visit the dining host stand and can join the waitlist for myTime dining on the ship.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Table Assignment
      </div>
      <div class="text-gray-500 text-xl">
        Your table assignment will be available in the cruise app shortly before your cruise begins. We will try as a convention to have Group tables where you can float between tables during our group dining time easier.
      </div>
    </div>
    <div>
      <div class="text-2xl font-bold">
        Tip: Formal Dining Ordering
      </div>
      <div class="text-gray-500 text-xl">
        You’re not limited to a single appetizer, entrée, and dessert. Feel free to order multiple dishes at once if you’re extra hungry. Just remember to place all your orders together to streamline service.
      </div>
    </div>
    <div>
      <div class="text-2xl font-bold">
        Room Service
      </div>
      <div class="text-gray-500 text-xl">
        For Room Service, the food itself is included but there is a fee to deliver the food. Typically this fee is free for their continental breakfast items, approximately $8 for American breakfast, and roughly $15 for the standard room service menu. These fees are usually waived if you have a suite.  NOTE: Your drink package cannot be used on room service.
      </div>
    </div>
    <div>
      <div class="text-2xl font-bold">
        Tip: Room Service
      </div>
      <div class="text-gray-500 text-xl">
        They charge the delivery fee per order, not per item. So you can order multiple plates under one room service order.
      </div>
    </div>
    <div>
      <div class="text-2xl font-bold">
        What about Food allergies/Dietary restrictions?
      </div>
      <div class="text-gray-500 text-xl *:my-2">
        <p>
          Royal Carribean can accommodate dietary needs such as: Food allergies, Gluten-free, Kosher, Low-fat, and Low-sodium.
        </p>
        <p>
          A variety of vegetarian Meals are available on all menus in the Main Dining Room and Windjammer Cafe every day. Guests do not need to make a special request for these meals.
        </p>
        <p>
          Lactose-free/soy milk, ensure, and kosher meals are available at no extra charge. All you have to do is notify us at least 45 days prior to sailing.
        </p>
        <p>
          Vegan menus are available upon request at the Main Dining Room.
        </p>
        <p>
          Kosher for Passover meal requests MUST be received 90 days in advance in order to be accommodated. Contact our Colossalcon Cruise planners and request that the remark be noted in your reservation details. If you made your reservation online at royalcaribbean.com you may add your request to the "update personal information." section.
        </p>
        <p>
          You may also send an e-mail request to special_needs&#64;rccl.com; please include in the e-mail the guests' names, booking number, ship name, and sail date. E-mails will receive an automated response. We kindly ask that guests do not call Royal Caribbean International suppliers with specific questions.
        </p>
        <p>
          Special meal requests that are received less than 45 days of sailing (90 days for European/Asian itineraries) are dependent on the ship's product availability. Royal Caribbean will try to accommodate to the best of their ability.
        </p>
      </div>
    </div>


  </div>
</article>
