<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Rule: Respect Policy
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      Royal Caribbean enforces a stringent respect policy towards both employees and fellow cruisers. The essence of this policy is simple: maintain respectful conduct at all times.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Overview
    </div>

    <div class="text-gray-500  text-2xl">
      At the heart of Royal Caribbean’s policy is a commitment to creating a positive and enjoyable environment for everyone on board. This means any form of disrespect towards staff or other guests is taken very seriously.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Consequences
    </div>

    <div class="text-gray-500  text-2xl">
      Violating this respect policy can have severe repercussions. Not only could it lead to immediate removal from the ship, but it also carries the possibility of being barred from future cruises with Royal Caribbean. This is to ensure the comfort and safety of all passengers and crew.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Importance of Adherence
    </div>

    <div class="text-gray-500  text-2xl">
      <div class="block mb-2">
        Adhering to this policy ensures that everyone can enjoy their cruise without any unpleasant incidents. It fosters an atmosphere of mutual respect and consideration, which is crucial for the enjoyment of all involved.
      </div>
      <div class="block mt-2">
        Remember, your actions impact not just your own experience but also that of those around you. Keeping a respectful demeanor ensures a pleasant journey for everyone on board.
      </div>
    </div>

  </div>
</article>
