<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tip: Cabin Magnetism
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      Transform your cruise cabin space with the magic of magnetism. Utilize magnets to organize and personalize your living area effectively.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Magnetic Surfaces
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Walls & Doors:
          <div class="inline text-gray-500 font-medium">
            Discover that cabin walls and doors are made of ferrous metal, making them perfect surfaces for magnetic attachments.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Creative Uses
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Organization
          <div class="inline text-gray-500 font-medium">
            Use magnets to hang important documents, daily planners, or photos, keeping your space tidy and items easily accessible.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Decoration:
          <div class="inline text-gray-500 font-medium">
            Personalize your door or walls with magnetic decorations, like a dry erase board for notes and drawings, adding a touch of home to your cabin.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Pre-Purchase Benefits:
          <div class="inline text-gray-500 font-medium">
            Purchasing your drink package before boarding can offer savings compared to buying on the ship.
          </div>
        </li>

      </ul>
    </div>

  </div>
</article>
