<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tips: Cabin Tips
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>


    <div>
      <div class="text-2xl font-bold">
        Did you know that the walls, main door, and ceiling of your cabin are all magnetic?
      </div>
      <div class="text-gray-500 text-xl">
        This means you can print things like magnetic hooks or decorations to personalize and organize your cabin.
        <div class="text-gray-500 text-xl mt-2">
          Things like
          <ul class="list-disc ml-8">
            <li>Magnetic hooks</li>
            <li>Dry-erase boards</li>
            <li>Door decorations</li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Mattress Comfort
      </div>
      <div class="text-gray-500 text-xl my-2">
        Do you find the mattress too firm? Ask your room steward for a foam topper for added softness. This can be in limited supply so you can always bring your own. A compact solution is an inflatable camping mat under the sheets.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Balcony Privacy
      </div>
      <div class="text-gray-500 text-xl my-2">
        Balconies offer limited privacy, so please be mindful of your surroundings.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Safes
      </div>
      <div class="text-gray-500 text-xl my-2">
        In every room, there is a free-to-use safe for your valuables. It is compact but secure. Instructions for use are located on the safe door.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Bathrooms
      </div>
      <div class="text-gray-500 text-xl my-2">
        Standard bathrooms are compact. An airfreshener might be a usedful addition to your packing list.
      </div>
    </div>


  </div>
</article>
