<div class="hidden">
  DELETE ME

  Two different hotels, need links to book them plus a reference number. Needs the travel agent number. super important.

  Include images of hotels near area.

  Maps and pricing.

  Link to shuttle/transportation?

  In the area stuff, events, etc..

  parking info

</div>


<article class="container mx-auto p-4 lg:p-0">
  <div class="flex flex-col gap-y-4 p-4">
    <div class="text-2xl text-center">
      As part of the ColossalCon Cruise experience, the following hotels have been provided by our travel agent at a discount.
    </div>
    <div class="text-gray-600 text-xl">
      <p>
        The Hampton Inn has two room types available, as well as HOME2 which has a larger suite room available.
      </p>
      <p>
        When booking, a link is provided that automatically fills in your travel agent number. In case it does not, make sure you provide the code at time of reservation: <span class="font-semibold">10716506</span>
      </p>
    </div>
    <div class="text-xl bg-yellow-200 rounded border border-solid border-yellow-400 text-center p-2 text-gray-900">
      Final Payments are due by <p class="font-semibold underline">11/17/2024</p>
    </div>
    <div class="flex flex-col gap-y-2">
      <div>
        🌐
        <span>
          <a class="hyperlink" href="https://www.google.com/maps/search/?api=1&query=Hampton+Inn+%26+Suites+Cape+Canaveral+Cruise+Port%2C+9004+Astronaut+Blvd+Cape+Canaveral%2C+FL+US" target="_blank">
            Hampton Inn
          </a>

        </span>
      </div>
      <div>
        🌐
        <span>
          <a class="hyperlink" href="https://www.google.com/maps/search/?api=1&query=Home2+Suites+by+Hilton+Cape+Canaveral+Cruise+Port%2C+9004+Astronaut+Blvd+Cape+Canaveral%2C+FL+US" target="_blank">
            HOME2
          </a>

        </span>
      </div>


    </div>
  </div>


  <div class="flex flex-col lg:flex-row justify-center  gap-y-4 gap-x-8 p-2">
    <p-card class="xl:flex">
      <ng-template #header>
        <div class="flex flex-row justify-center">
          <span>Hampton Inn</span>
        </div>
        <img class="object-cover w-full xl:h-[30vh] md:h-[40vh] " ngSrc="hilton-king.webp" priority width="100" height="100" />
      </ng-template>
      <ng-template #title>
        <div class="">
          King Room W/ Mini Fridge
        </div>
      </ng-template>
      <ng-template #subtitle>
        <div>$199</div>
      </ng-template>

      <div class="text-gray-600 text-xl">Amenities include</div>

      <ul class="list-disc  ml-8">
        <li>Sleeps 2</li>
        <li>Mini-fridge</li>
        <li>Free Breakfast</li>
        <li>Free Wi-Fi</li>
        <li>HDTV</li>
      </ul>
    </p-card>

    <p-card header="" class="xl:flex">
      <ng-template #header>
        <div class="flex flex-row justify-center  ">Hampton Inn</div>
        <img class="object-cover w-full xl:h-[30vh] md:h-[40vh] " ngSrc="hilton-queen.webp" priority width="100" height="100" />
      </ng-template>
      <ng-template #title>
        <div class="">
          2 Queen Beds W/ Mini Fridge
        </div>
      </ng-template>
      <ng-template #subtitle>
        <div>$209</div>
      </ng-template>

      <div class="text-gray-600 text-xl">Amenities include</div>

      <ul class="list-disc  ml-8">
        <li>Sleeps 4</li>
        <li>Mini-fridge</li>
        <li>Free Breakfast</li>
        <li>Free Wi-Fi</li>
        <li>HDTV</li>
      </ul>
    </p-card>

  </div>
  <div class="flex flex-row justify-center">
    <div class="basis-1/2">
      <a href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=MLBCVHX&arrivalDate=2025-02-25&departureDate=2025-02-27&groupCode=CHH919&travelAgent=true&room1NumAdults=1&cid=OM%2CWW%2CHILTONLINK%2CEN%2CDirectLink" target="_blank">
        <div class="mt-2 mb-8 py-2 px-4 button rounded-xl text-center  content-center cursor-pointer">
          <span class="text-2xl font-semibold  text-white">Book Now</span>
        </div>
      </a>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row justify-center  gap-y-4 gap-x-8 p-2">
    <p-card header="" class="xl:flex">
      <ng-template #header>
        <div class="flex flex-row justify-center  ">HOME2</div>
        <img class="object-cover w-full xl:h-[30vh] md:h-[40vh]" ngSrc="home2-king.webp" priority width="100" height="100" />
      </ng-template>
      <ng-template #title>
        <div class="">
          1 King Bed Studio Suite
        </div>
      </ng-template>
      <ng-template #subtitle>
        <div>$209</div>
      </ng-template>

      <div class="text-gray-600 text-xl">Amenities include</div>

      <ul class="list-disc  ml-8">
        <li>Sleeps 4</li>
        <li>Kitchen</li>
        <li>Full sized fridge</li>
        <li>Free Wi-Fi</li>
        <li>HDTV</li>
        <li>Microwave</li>
        <li>Additional sofa bed</li>
      </ul>
    </p-card>

  </div>
  <div class="flex flex-row justify-center">
    <div class="basis-1/2">
      <a href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=MLBCPHT&arrivalDate=2025-02-26&departureDate=2025-02-27&groupCode=CHT905&travelAgent=true&room1NumAdults=1&cid=OM%2CWW%2CHILTONLINK%2CEN%2CDirectLink" target="_blank">
        <div class="mt-2 mb-8 py-2 px-4 button rounded-xl text-center  content-center cursor-pointer">
          <span class="text-2xl font-semibold  text-white">Book Now</span>
        </div>
      </a>
    </div>
  </div>

  <div class="container mx-auto p-6 text-gray-600 flex flex-col text-md md:text-lg">
    <small class="container p-2 bg-gray-300/50 rounded-lg border border-solid border-black leading-snug">
      <p class="my-4"><strong>✲ If you have any questions regarding booking a hotel, you can reach out to our travel agent.
        <a class="hyperlink" href="mailto:dgoodlin@cruiseplanners.com">dgoodlin&#64;cruiseplanners.com</a> or
        <a class="hyperlink" href="tel:1-760-459-2321,700">760-459-2321 ext. 700</a> ✲</strong></p>
    </small>
  </div>



</article>
<div class="lg:mb-12 hidden lg:block">
  <div class="hidden">spacing footer</div>
</div>


