<h2 class="font-bold text-center text-3xl">Tournament Arc</h2>
<h2 class="text-gray-600 text-center text-2xl mb-4">
  Craftsmanship Judging Criteria
</h2>

<section class="mb-8">
  <div class="grid grid-cols-2 divide-grid divide-dashed divide-indigo-500">
    <div class="font-bold text-center text-2xl">Construction Quality (25%)</div>
    <div class="ml-8">
      <ul class="list list-inside col-start-1 list-disc">
        <li>Does the amount of work match the handmade requirements?</li>
        <li>
          Are all parts of the costume finished, secured, clean, and
          intentional?
        </li>
        <li>Does the costume fit the contestant properly?</li>
      </ul>
    </div>
  </div>
</section>

<section class="mb-8">
  <div class="grid grid-cols-2 divide-grid divide-dashed divide-indigo-500">
    <div class="font-bold text-center text-2xl">
      Complexity & Technique (20%)
    </div>
    <div class="ml-8">
      <ul class="list list-inside col-start-1 list-disc">
        <li>Does the amount of work match the handmade requirements?</li>
        <li>
          Are all parts of the costume finished, secured, clean, and
          intentional?
        </li>
        <li>Does the costume fit the contestant properly?</li>
      </ul>
    </div>
  </div>
</section>

<section class="mb-8">
  <div class="grid grid-cols-2 divide-grid divide-dashed divide-indigo-500">
    <div class="font-bold text-center text-2xl">
      Creativity & Originality (25%)
    </div>
    <div class="ml-8">
      <ul class="list list-inside col-start-1 list-disc">
        <li>How unique and creative is the costume?</li>
        <li>Does it showcase imagination and thought?</li>
        <li>Is it an original take on the character or theme?</li>
      </ul>
    </div>
  </div>
</section>

<section class="mb-8">
  <div class="grid grid-cols-2 divide-grid divide-dashed divide-indigo-500">
    <div class="font-bold text-center text-2xl">Character Accuracy (20%)</div>
    <div class="ml-8">
      <ul class="list list-inside col-start-1 list-disc">
        <li>How well does the costume match the original character?</li>
        <li>Are key details and features included?</li>
        <li>
          If it’s a creative interpretation, does it still represent the essence
          of the character?
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="mb-8">
  <div class="grid grid-cols-2 divide-grid divide-dashed divide-indigo-500">
    <div class="font-bold text-center text-2xl">
      Stage Presence & Performance (10%)
    </div>
    <div class="ml-8">
      <ul class="list list-inside col-start-1 list-disc">
        <li>
          How well does the contestant embody the character (e.g., gestures,
          poses, catch phrases)
        </li>
        <li>Do they confidently present their costume?</li>
        <li>Do they engage with the audience and judges?</li>
      </ul>
    </div>
  </div>
</section>

<section class="mb-8">
  <div class="grid grid-cols-2 divide-grid divide-dashed divide-indigo-500">
    <div class="font-bold text-center text-2xl">Total (100%)</div>
    <div class="ml-8">
      <ul class="list list-inside col-start-1 list-disc">
        <li>A maximum total of 100 points can be awarded to any contestant.</li>
      </ul>
    </div>
  </div>
</section>
