<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ports
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tip: Booking Your Own Excursions
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      Royal Caribbean has many different excursions at Bimini, but you can find interesting things to do on the internet, just searching up Bimini and finding what is available there.
    </div>
    <div class="text-gray-500 text-2xl">
      For example, <a class="hyperlink" href="https://www.biminiblueadventures.com/" target="_blank">Bimini Blue Adventures</a>.
    </div>
  </div>
</article>
