<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tips: Quick Insights
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      This section covers any quick random insights for your cruise.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Comfort and Convenience
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Mattress Comfort:
          <div class="inline text-gray-500 font-medium">
            Find the mattresses too firm? Ask your Room Steward for a foam topper for added softness.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Safe Usage:
          <div class="inline text-gray-500 font-medium">
            Utilize the in-room safe for your valuables like wallets, keys, and passports. It’s compact but secure.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Health and Safety
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Dramamine Availability:
          <div class="inline text-gray-500 font-medium">
            Combat seasickness with free Dramamine from the medical center (Deck 1 Aft). Plan ahead as it may take a while to take effect.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Condoms:
          <div class="inline text-gray-500 font-medium">
            Available at the gift shop, though at a premium. Consider bringing your own for economy.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Dress Code and Privacy
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Cosplay Guidelines:
          <div class="inline text-gray-500 font-medium">
            Feel free to cosplay around the ship, but the Main Dining Room has restrictions. Formal cosplays might be an exception.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Balcony Privacy:
          <div class="inline text-gray-500 font-medium">
            Balconies offer limited privacy, so be mindful of your surroundings.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Practicalities
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Bathroom Size:
          <div class="inline text-gray-500 font-medium">
            Standard bathrooms are compact. An air freshener might be a useful addition to your packing list.
          </div>
        </li>
      </ul>
    </div>

  </div>
</article>
