<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Warning: Prohibited Items
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      This section covers all of the prohibited items not allowed on a Royal Caribbean Cruise.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Absolutely Banned Stuff
    </div>

    <div>
      <div class="mb-2 text-lg">
        Certain items are strictly prohibited on board for safety and legal reasons:
      </div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Explosives:
          <div class="inline text-gray-500 font-medium">
            This includes bombs, bullets, fireworks, and any items that can cause explosions.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Weapons:
          <div class="inline text-gray-500 font-medium">
            All forms of guns and weapons are banned.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Restraining Devices:
          <div class="inline text-gray-500 font-medium">
            Handcuffs and similar items are not allowed.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Self-Defense Items:
          <div class="inline text-gray-500 font-medium">
            Pepper spray, night sticks, and other self-defense gear are prohibited.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Illegal Substances:
          <div class="inline text-gray-500 font-medium">
            Non-prescription drugs, including marijuana and CBD products, are forbidden, especially important as cruises cross federal borders.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Sharp Objects:
          <div class="inline text-gray-500 font-medium">
            Items like knives and scissors are not permitted.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Prohibited Gear:
          <div class="inline text-gray-500 font-medium">
            Hoverboards, martial arts gear, and HAM radios are banned, though standard handheld radios are allowed.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Electrical Hazards:
          <div class="inline text-gray-500 font-medium">
            Extension cords and power strips are not permitted due to safety concerns.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Hazardous Chemicals:
          <div class="inline text-gray-500 font-medium">
            Any dangerous chemicals, including bleach and paint, are banned.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Perishables:
          <div class="inline text-gray-500 font-medium">
            Food and meat products that could spoil are not allowed.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Conditionally Banned Stuff
    </div>

    <div>
      <div class="mb-2 text-lg">
        Some items may be brought onboard under specific conditions:
      </div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Power Expanders:
          <div class="inline text-gray-500 font-medium">
            Allowed if they are fuse-free and labeled as “cruise safe.”
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Alcohol:
          <div class="inline text-gray-500 font-medium">
            Each cabin may bring up to two sealed bottles of wine or champagne (750 mL each). A $15 corkage fee applies if consumed outside your cabin. Alcohol bought at ports will be stored until the end of the cruise. NOTE: Cruisers under the age of 21 cannot bring alcohol on board regardless, and underage individuals attempting to bring alcohol on board will have their alcohol confiscated and they will be denied boarding.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Drones:
          <div class="inline text-gray-500 font-medium">
            Drones are permitted but can only be used in designated areas like Bimini, adhering to the cruise line’s guidelines.
          </div>
        </li>>
      </ul>
    </div>

  </div>
</article>
