<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ports
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tip: Fraud Stop
      </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      Many banks have fraud detection on your account. Before you leave, make sure that you call your bank’s fraud department and let them know that you’ll be on a cruise, and where you’ll be going. Otherwise, when you try to use your cards when you’re at a port, it might decline.
    </div>
  </div>
</article>
