<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-2">
    <div class="text-xl text-gray-700 mb-4">
      <span class="text-2xl font-semibold dark:text-white  text-black">
        Before Emailing:
      </span>
      please check out our FAQ page to see if we have already answered your question.
    </div>

    <div>
      <span class="text-xl">Email:</span> <a class="hyperlink" target="_blank" href="mailto:Colossalconcruise&#64;gmail.com">Colossalconcruise&#64;gmail.com</a>
    </div>
    <div>
      <span class="text-xl">Facebook:</span> <a class="hyperlink" target="_blank" href="https://www.facebook.com/Colossalconcruise"> https://www.facebook.com/Colossalconcruise</a>
    </div>
    <div>
      <span class="text-xl">Instagram:</span> <a class="hyperlink" target="_blank" href="https://www.instagram.com/colossalconcruise"> https://www.instagram.com/colossalconcruise/</a>
    </div>

  </div>
</article>
