<article class="container mx-auto p-7">

  <div class="font-semibold text-2xl mb-4">
    Attire Guidelines
  </div>
  <div class="flex flex-col gap-y-3">
    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">Attire Policy: General</span>
      </ng-template>

      <div class="flex flex-col gap-y-3">

        <p class="">
          General dress code guidelines must be followed according to <a class="hyperlink" href="https://www.royalcaribbean.com/faq/questions/generic-onboard-dress-code" target="_blank">Royal Caribbean’s standards (See More)</a>
        </p>

        <p>
          All attire must comply with <a class="hyperlink" href="https://www.royalcaribbean.com/faq/questions/generic-onboard-dress-code" target="_blank">Royal Caribbean Guidelines</a>, especially the bathing suit rule for pool areas, where appropriate swimwear like swim shorts or bikinis is required. Footwear is mandatory in all areas except the Pool Deck.
        </p>

        <div class="text-2xl font-semibold">Formal Wear</div>
        <p>
          During Formal Nights at the Main Dining Room or at the Chef’s Table, formal dress codes are enforced. This includes formal cosplays, which are allowed provided they meet the formal dress requirements. Royal Caribbean reserves the right to make the final decision on the acceptability of attire.
        </p>

        <div class="text-2xl font-semibold">Contests</div>
        <p>
          All contestants must ensure their attire adheres to both the convention’s dress code and Royal Caribbean’s guidelines. This is particularly important for Cosplay Contests, where costumes that fail to meet these dress code requirements will be disqualified from competition. It’s crucial to review and understand the dress code policies to ensure participation is allowed.
        </p>

      </div>
    </p-panel>

    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">Attire Policy: Ports</span>
      </ng-template>
      <div class="flex flex-col gap-y-3">

        <p class="">
          Appropriate footwear is required at ports, and certain clothing may be restricted.
        </p>

        <p>
          At all ports, it’s mandatory to wear footwear. Shoes are recommended over flip-flops to prevent accidents, as flip-flops can get caught in gaps between the ship or port and the ramp. Additionally, the terrain in ports might not be suitable for less sturdy footwear.
        </p>

        <p>
          Be aware that camouflage print clothing and accessories, along with military-style attire, may be prohibited in places like Bimini, where such designs are reserved for military personnel only. To avoid legal issues, refrain from wearing these types of clothing while visiting ports.
        </p>
      </div>
    </p-panel>

  </div>

  <div class="font-semibold text-2xl my-4">
    Conduct
  </div>
  <div class="flex flex-col gap-y-3">
    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">Conduct Policy: Cosplay is Not Consent</span>
      </ng-template>

      <div class="flex flex-col gap-y-3">

        <p>
          Respect and consent are paramount; cosplay does not imply consent for photos, touching, or harassment.
        </p>
        <p>
          Cosplay is not consent: If a person is in cosplay, be mindful of your words towards them and how you act around them. This is a real person with a life outside of their cosplay. If you are in cosplay as a character that might harass others, that does not give you a pass to harass real people even if you are “in character.”
        </p>
        <p>
          In regards to photography, touching, and communication: ask first and respect a person’s right to say no. “No” always means “No.” “Go away” means “go away.” Only “Yes” means “yes.” Do not follow or attempt to disrupt their convention experience in any way upon being asked to leave or that they do not consent to a request.
        </p>
        <p class="font-bold">
          In the event of harassment:
        </p>
        <p>
          If you feel that you or another person is being harassed or being subjected to prejudiced or unwelcome behavior; or if you witness someone behaving inappropriately (such as violating hotel or convention policies), we respectfully suggest the following:
        </p>
        <div>
          <ul class="list-disc ml-8">
            <li>If you feel you can, point out the inappropriate behavior to the person(s) involved. This may de-escalate the problem immediately.</li>
            <li>If you do not feel comfortable talking with the person(s) involved or if talking to them does not resolve the issue, please report the situation immediately verbally via general staff (identified by a staff badge), security (identified by a security badge), or department head. You also have the option to alert the staff via Colossalcon Safetalk Portal.</li>
            <li>Con staff will request names, badge names, badge numbers, and/or physical descriptions of the person(s) for further investigation and follow-up.</li>
          </ul>
        </div>


        <p>
          If you feel threatened, make it a priority to remove yourself and others threatened from the situation, come to Con Operations, security, or find anyone on staff. You can also text Operations via the Colossalcon Safetalk Portal so we can arrange an escort to come get you.
        </p>

        <p>
          Please report the event to staff as soon as you’re comfortable. Time can determine how successful we can be in resolving the issue.
        </p>

        <p>
          The following behaviors are considered harassment and are unacceptable within our community:
        </p>
        <div class="my-1">
          <ul class="list-disc ml-8">
            <li>Violence, threats of violence, or violent language directed against another person.</li>
            <li>Sexist, racist, homophobic, transphobic, ableist, or otherwise discriminatory jokes and language.</li>
            <li>Posting or displaying sexually explicit or violent material, except in designated 18+ events.</li>
            <li>Posting or threatening to post other people’s personally identifying information (“doxing”).</li>
            <li>Public displays of intoxication and heckling.</li>
            <li>Personal insults, especially those related to gender, sexual orientation, race, religion, or disability.</li>
            <li>Inappropriate photography or recording, excluding official con photography team activities (refer to photography policy).</li>
            <li>Inappropriate physical contact without consent.</li>
            <li>Unwelcome sexual attention, including sexualized comments or jokes, inappropriate touching, groping, and unwelcomed sexual advances.</li>
            <li>Deliberate intimidation, stalking, or following (online or in person).</li>
            <li>Advocating for, or encouraging, any of the above behavior.</li>
            <li>Sustained disruption of community events, including talks and presentations.</li>
            <li>Any illegal activities as defined by local, state, and federal law.</li>
          </ul>
        </div>

        <p>
          Harassment in any form is strictly prohibited and will not be tolerated. Violators may be subject to disciplinary action, including removal from the event and potential bans from future events.
        </p>

        <p>
          Our event strives to provide a fun and safe atmosphere for the attendees. Anyone who is making an effort to make people feel uncomfortable is not contributing to the fun atmosphere and potentially making it unsafe. Anyone caught doing so, may face consequences ranging from a verbal warning to expulsion from the event and property.
        </p>
        <p>
          This policy is to applicable to all persons in attendance, including staff, vendors, panelists, etc. This policy also expressly prohibits retaliation of any kind against anyone who is identifying themselves of being harassed or reporting harassment.
        </p>

        <p>
          Harassment by anyone (attendees, guests, volunteers, security, staff, and/or venue employees) should be reported, and can be reported by anyone.
        </p>

      </div>

    </p-panel>

    <div class="font-semibold text-2xl my-4">
      Events
    </div>
    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">Events Policy: General</span>
      </ng-template>
      <div class="flex flex-col gap-y-3">
        <p>Access to CCC2025 events requires official lanyards; attendees must adhere to convention and cruise rules.</p>

        <p>Our agent has secured amazing rates and perks included that are not included with typical booking. Any cruises booked outside of our cruise agent will not receive any of the con perks/denied entry to con sponsored events.</p>

        <p>CCC2025 events mandate the display of the official ColossalCon Cruise 2025 Lanyard for entry. Failure to display the lanyard will result in denial of access to exclusive events. The ColossalCon Cruise Management Team oversees all events associated with CCC2025, ensuring attendees comply with both convention and cruise regulations.</p>

        <p>Disruptive behavior during events will not be tolerated. Offenders may face consequences ranging from removal from the event to the revocation of event credentials. Severe infractions could lead to a ban from future ColossalCon Cruise or ColossalCon events, and in extreme cases, penalties from Royal Caribbean, including possible disembarkation from the cruise without a refund.</p>
      </div>
    </p-panel>

    <div class="font-semibold text-2xl my-4">
      General
    </div>
    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">General Policy: Illegal Activities</span>
      </ng-template>
      <div class="flex flex-col gap-y-3">
        <p>US laws apply onboard and at destinations; illegal activities are strictly prohibited.</p>

        <p>Despite cruising in international waters, US laws are generally applicable onboard and at the destinations we visit. Engaging in illegal activities can lead to arrest by Royal Caribbean authorities and possible removal from the ship. It’s crucial for all guests to adhere to these laws to ensure a safe and enjoyable experience for everyone.</p>

        <p class="text-3xl font-bold">Port Restrictions</p>

        <p>Marijuana is still an illegal substance at US Ports. You may not bring marijuana (including CBD Oil, CBD Vapes, and CBD Gummies) into the Terminal, and you may be subject to arrest if you bring these substances into the terminal.</p>
      </div>
    </p-panel>

    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">General Policy: Speakers</span>
      </ng-template>
      <div class="flex flex-col gap-y-3">
        <p>Speaker use is regulated to ensure a pleasant environment for all guests.</p>

        <p>Roll around speakers are generally not allowed to maintain a peaceful and enjoyable atmosphere for all guests. However, handheld Bluetooth speakers can be used within cabins and may be allowed on the pool deck, provided the volume is low and the content is not offensive. The music should be kept at a level that cannot be heard by individuals outside of your immediate group. This policy also applies to CocoCay to ensure a consistent experience across all areas.</p>
      </div>
    </p-panel>

    <div class="font-semibold text-2xl my-4">
      Terms and Conditions
    </div>
    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">Terms and Conditions: Cancellation Policy</span>
      </ng-template>
      <div class="flex flex-col gap-y-3">
        <p>
          This covers the Cancellation Policy for your cruise.
        </p>

        <p class="text-3xl font-bold">
          ColossalCon Cruise 2025 (CCC2025) Cancellation Policy
        </p>
        <p class="font-bold text-xl">
          Notification of Cancellation
        </p>
        <p>
          Passengers desiring to cancel their booking must notify [insert phone number] or send an email to [insert email address] at their earliest convenience.
        </p>

        <p class="font-bold text-xl">
          Refund Exclusions
        </p>
        <p>
          Please be advised that cancellations will not warrant a refund of Taxes, Fees, or the Non-Refundable Deposit made at the time of booking.
        </p>

        <p class="font-bold text-xl">
          Refund Processing
        </p>
        <p>
          Refunds, where applicable, will be processed within ten (10) business days to the original payment method on record. The timeline for the actual credit to appear in your account may vary according to your banking institution’s policies regarding the processing of returned funds.
        </p>

        <p class="font-bold text-xl">
          Cancellation Refund Schedule
        </p>
        <div>
          <p>
            The refund amount will be calculated as follows, less applicable Taxes, Fees, and the Non-Refundable Deposit:
          </p>
          <ul class="list-disc ml-8">
            <li>More than 90 days prior to departure: 100% refundable</li>
            <li>89 to 75 days prior to departure: 75% refundable</li>
            <li>74 to 61 days prior to departure: 50% refundable</li>
            <li>60 to 31 days prior to departure: 25% refundable</li>
            <li>Within 30 days of departure: No refund will be issued</li>
          </ul>
        </div>

        <p class="font-bold text-xl">
          Add-On Cancellations
        </p>
        <p>
          Cancellations of purchased add-ons, including but not limited to packages and excursions, will be governed by the Royal Caribbean Refund Policy and must be directed to Royal Caribbean for processing.
        </p>

        <p class="font-bold text-xl">
          Post-Departure Cancellations
        </p>
        <p>
          Any cancellation initiated by a passenger after the commencement of the cruise, for any reason including, but not limited to, failure to board (no-show), desire to terminate the cruise prematurely, or cancellation due to disciplinary actions, will be ineligible for refund, compensation, or liability from either Royal Caribbean or ColossalCon Cruise.
        </p>

        <p class="font-bold text-xl">
          Transfer to Another Cruise
        </p>
        <p>
          You may transfer your cruise to another individual up to 72 hours prior to the ship sailing. No changes may be made to your booking within 72 hours of departure.
        </p>
      </div>
    </p-panel>

    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">Terms and Conditions: Restricted Items</span>
      </ng-template>
      <div class="flex flex-col gap-y-3">
        <p>
          This covers all of the banned items for the voyage.
        </p>
        <p>
          Royal Caribbean International ensures the safety and security of all guests by enforcing a strict policy on prohibited items. For your convenience, we have categorized these items into two lists: Completely Banned Items and Conditionally Banned Items.
        </p>
        <p class="font-bold text-xl">
          Completely Banned Items
        </p>
        <p>
          Items in this category are not allowed under any circumstances due to safety and security concerns:
        </p>
        <div>
          <ul class="list-decimal ml-8">
            <li><span class="font-bold">Firearms & Ammunition:</span> Including realistic replicas, toy guns, and all forms of ammunition.</li>
            <li><span class="font-bold">Sharp Objects:</span> Knives with blades longer than 4 inches/10.16 cm, scissors with blades longer than 4 inches/10.16 cm (except for personal care), and spear guns.</li>
            <li><span class="font-bold">Illegal Drugs & Substances:</span> Including synthetic, designer drugs, and drug paraphernalia.</li>
            <li><span class="font-bold">Candles & Incense:</span> Due to fire hazard concerns.</li>
            <li><span class="font-bold">Hoverboards:</span> Owing to safety and fire hazards.</li>
            <li><span class="font-bold">Remote-Controlled Devices:</span> Drones, airplanes, or any device that can be operated remotely for filming or recreation, except for communication aids for mobility-restricted guests.</li>
            <li><span class="font-bold">Dangerous Chemicals:</span> Including bleach, paint, and fire starters.</li>
            <li><span class="font-bold">Medical Marijuana:</span> Not permitted due to federal restrictions.</li>
          </ul>
        </div>

        <p class="font-bold text-xl">
          Conditionally Banned Items
        </p>
        <p>
          These items may be allowed under certain conditions or in specific areas on the ship:
        </p>
        <div>
          <ul class="list-decimal ml-8">
            <li><span class="font-bold">Alcoholic Beverages:</span> Guests are allowed to bring a limited quantity of wine or champagne onboard, subject to corkage fees. See <span class="hyperlink" routerLink="/terms-and-conditions">Terms and Conditions</span> for more information.</li>
            <li><span class="font-bold">Electrical Appliances:</span> Items like travel irons and clothes steamers are not allowed in staterooms but may be used in designated areas.</li>
            <li><span class="font-bold">Food & Non-Alcoholic Beverages:</span> Subject to inspection and restrictions; certain items may not be permitted.</li>
            <li><span class="font-bold">Coolers:</span> Small, personal-sized coolers no larger than 12" x 12" x 12" for the purpose of housing medications are permitted.</li>
            <li><span class="font-bold">Scissors:</span> With blades shorter than 4 inches/10.16 cm are allowed for personal care.</li>
            <li><span class="font-bold">Personal Grooming Blades:</span> Safety Razors are allowed, as long as they do not exceed 4 inches/10.16 cm in length.</li>
          </ul>
        </div>
        <p>
          For a detailed understanding of what each prohibited item entails and the conditions under which some items may be allowed, it’s essential to review Royal Caribbean’s official guidelines. This ensures not only the safety and security of all guests and crew but also a smooth and enjoyable cruising experience.
        </p>
        <p class="italic">
          Note: The information provided is subject to change, and it’s advisable to check with Royal Caribbean directly or consult their website for the most current policies and restrictions.
        </p>
      </div>
    </p-panel>

    <p-panel>
      <ng-template #header>
        <span class="text-2xl font-bold">Terms and Conditions: Miscellaneous</span>
      </ng-template>
      <div class="flex flex-col gap-y-3">
        <p>
          This covers all of the Terms and Conditions for the Voyage.
        </p>
        <p class="font-bold text-xl">
          Pricing Policy
        </p>
        <p>
          The rates herein are guaranteed for 30 days from Feb 24, 2024, subject to cabin availability. Rates may be subject to adjustment post exhaustion of allocated cabins or beyond the specified date.
        </p>
        <p>
          Listed minimum price represents the minimum price for that cabin type, quoted per person when two cruisers are assigned to the room, which includes:
        </p>
        <div>
          <ul class="list-disc ml-8">
            <li>Cabin Price</li>
            <li>VOOM Wifi (1 per passenger)</li>
            <li>Convention Lanyard with Clear SeaPass Holder</li>
            <li>Exclusive On-board and on-shore CCC2025 Events</li>
            <li>Access to purchase exclusive CCC2025 Excursions</li>
            <li>Gratuities</li>
          </ul>
        </div>

        <p>
          Bookings made outside of CCC2025’s official cruise agent will not be eligible for these benefits.
        </p>

        <p>
          Excluded from the fare are expenses related to:
        </p>

        <div>
          <ul class="list-disc ml-8">
            <li>shore excursions</li>
            <li>beverage and meal packages</li>
            <li>purchases made on shore or onboard</li>
            <li>dining at specialty restaurants</li>
            <li>telecommunication charges</li>
            <li>additional Wifi devices beyond the one included</li>
            <li>airfare</li>
            <li>transportation to/from the departure port</li>
            <li>photographic services</li>
            <li>healthcare services</li>
            <li>insurance</li>
            <li>spa and salon services</li>
            <li>laundry services</li>
            <li>
              accommodation upgrades, including:
              <ul class="list-circle ml-8">
                <li>location upgrades</li>
                <li>RoyalUp bids</li>
                <li>cabin class upgrades</li>
                <li>cabins with greater than 2 cruisers allowed in the room</li>
              </ul>
            </li>
            <li>additional room keys</li>
            <li>arcade tokens</li>
            <li>additional gratutities beyond the automatic ones mentioned above</li>
            <li>any other ancillary services not explicitly mentioned above</li>
          </ul>
        </div>

        <p>
          A non-refundable deposit of $200 per cruiser is required at the time of booking. Full payment must be received by <span class="font-bold">November 27, 2024</span> to secure your passage. Failure to comply with this payment schedule will result in cancellation of your booking.
        </p>
        <p>
          Booking may be allowed (depending on availability) after the November 27, 2024 cutoff date HOWEVER in order to book your passage, you must pay the entire fare at time of booking.
        </p>

        <p class="font-bold text-xl">
          Funding Policy
        </p>
        <p>
          You must place a major credit card or debit card with a VISA or Mastercard Logo on file when booking.
        </p>

        <p>
          When a booking is placed, the card on file will be charged $200 per cruiser at the date that you select. <span class="font-bold">Until your card is charged, your booking will not be confirmed or fully reserved.</span>
        </p>
        <p>
          You may make any number of payments between the first charge and the November 27, 2024 cutoff date via your GoSeaTravel account.
        </p>

        <p>
          If you wish to finance your trip and pay off your voyage in 12, 24 or 36 month installments, you may do so by first placing a booking, then contacting Don at Cruise Planners/All Out Vacations at 760-459-2321, extension 700. You will then be asked to fill out a finance application, and then your trip will be financed after running your credit, which means your trip will be fully funded, and you will only need to pay the regular installments based on the terms of your application. You can also include travel protection, and optional onboard services in your finance application.
        </p>

        <p class="font-bold text-xl">
          Accommodation Policy
        </p>

        <p>
          Prices are based on double occupancy. Accommodations for three or four passengers per cabin are subject to availability, not guaranteed until a deposit is received, and may incur additional charges. Additional guests will be subject to extra taxes and port fees.
        </p>
        <p>
          Accessible rooms are available, and do not cost any additional for any individual needing an accessible room for their disability, subject to availability.
        </p>
        <p>
          Prices may increase after the cut-off date of March 25, 2024, or whenever cabin supplies are exhausted (whichever comes first).
        </p>

        <p class="font-bold text-xl">
          Health and Safety Policies
        </p>
        <p>
          <span class="font-bold">Fit to Travel:</span> Passengers entering their 24th week of pregnancy by the cruise’s commencement or during the voyage will not be permitted onboard. Those under 24 weeks must provide a fit-to-travel certification from a qualified medical practitioner.
        </p>

        <p>
          <span class="font-bold">Disability Accommodations:</span>
          Passengers requiring special assistance must submit a Guest Special Needs Form to the Royal Caribbean Special Needs Department no later than 30 days before departure (60 days for sign language interpreting services requests). For more details, visit <a class="hyperlink" href="https://www.royalcaribbean.com/resources/guest-special-needs">Royal Caribbean Special Needs.</a>
        </p>

        <p>
          <span class="font-bold">Infant Policy:</span>
          Infants must be a minimum of 6 months old on the first day of the cruise to be eligible for travel.
        </p>

        <p>
          <span class="font-bold">Unaccompanied Minors:</span>
          The minimum age for unaccompanied travel is 21 years as of the boarding date. Minors under 21 must be accompanied in the same stateroom by a guardian aged 21 or older as of the boarding date.
        </p>

        <p class="font-bold text-xl">
          Conduct Policies
        </p>
        <p>
          <span class="font-bold">Underage Drinking:</span>
          The minimum legal age for alcohol consumption onboard is 21 years. Underage passengers attempting to board with alcohol on the ship will face confiscation of their beverages and may incur further penalties, including but not limited to denial of boarding. Underage passengers caught with an alcoholic drink will have their beverages confiscated and may face debarkation at the next port. Individuals providing underage passengers drinks may also face debarkation at the next port.
        </p>

        <p>
          <span class="font-bold">Over Drinking:</span>
          Its important that you maintain your own health while on board. Cruisers that drink too much may be cut off at Royal Caribbean’s Discretion, and disruptive drinkers may be required to return to their cabin. Drinkers that cause too much disruption may be disembarked at the next port.
        </p>

        <p>
          <span class="font-bold">General Drinking:</span>
          Royal Caribbean reserves the right to revoke or limit any passenger’s drinking privileges at its sole discretion.
        </p>

        <p>
          <span class="font-bold">Gambling:</span>
          Passengers must be 18 years or older to engage in gambling activities in the casino.
        </p>

        <p>
          <span class="font-bold">Smoking:</span>
          Smoking, including the use of vaporizers, is strictly prohibited in all staterooms and their balconies. Violators will incur a $250 cleaning fee and may face additional disciplinary measures. Designated smoking areas are provided outdoors and in certain casino areas. Cigar and pipe smoking is restricted to specific outdoor areas and designated Cigar Bars.
        </p>

        <p>
          <span class="font-bold">Convention Conduct:</span>
          If you are caught violating the policies of Royal Caribbean, your credentials to ColossalCon Cruise may be revoked, and you may be banned from future events.
        </p>
      </div>
    </p-panel>

  </div>

</article>
