<article class="container mx-auto p-4 lg:p-0">
  <div class="text-3xl text-center my-2">
    Cruise Rooms - 2027
  </div>

  <div class="py-4">
    <h2 class="font-semibold text-2xl mb-4" id="itinerary">Itinerary</h2>
    <ol class="list-decimal  ml-8">
      <li><strong>Thu, Feb 22:</strong> Depart Ft. Lauderdale (Sail &#64; 2:30pm)</li>
      <li><strong>Fri, Feb 23:</strong> <span class="hyperlink" routerLink="/info-and-tips/cococay" routerLinkActive="active"> Perfect Day at CocoCay</span> (7am-5pm)</li>
      <li><strong>Sun, Feb 24:</strong> <span class="hyperlink" routerLink="/info-and-tips/key-west" routerLinkActive="active"> Key West</span> (8am-5pm)</li>
      <li><strong>Sat, Feb 25:</strong> Sea Day 🌊</li>
      <li><strong>Mon, Feb 26:</strong> Return to Ft. Lauderdale (7am)</li>
    </ol>

  </div>

  <!--   <div class="text-xl bg-yellow-200 rounded border border-solid border-yellow-400 text-center p-2 text-gray-900">
      Final Payments are due by <p class="font-semibold underline">11/29/2026</p>
    </div>
    November 29, 2026.
   -->
  <div class="flex">

    <div class="grid grid-cols-1 xl:grid-cols-4 lg:grid-cols-2 gap-y-4 gap-x-8 p-2">
      <p-card class="xl:flex">
        <ng-template #header>
          <div class="flex flex-row justify-center">
            <span>Interior Cabin</span>
          </div>
          <img class="object-cover w-full xl:min-h-[30vh] md:min-h-[40vh] " ngSrc="interior.jpg" priority width="100" height="100" />
        </ng-template>
        <ng-template #title>
          <div class="">
            Interior Cabin
          </div>
        </ng-template>
        <ng-template #subtitle>
          <div>Starting at $950.65* per occupant</div>
          <div class="text-xs">Total Price: $1901.30</div>
        </ng-template>

        <ul class="list-disc  ml-8">
          <li>Most budget friendly option.</li>
          <li>Includes dedicated stateroom attendant </li>
          <li>Attached bathroom w/ toiletries included</li>
        </ul>
      </p-card>

      <p-card header="" class="xl:flex">
        <ng-template #header>
          <div class="flex flex-row justify-center  ">Ocean View</div>
          <img class="object-cover w-full xl:min-h-[30vh] md:min-h-[40vh] " ngSrc="oceanview2027.jpg" priority width="100" height="100" />
        </ng-template>
        <ng-template #title>
          <div class="">
            Ocean View
          </div>
        </ng-template>
        <ng-template #subtitle>
          <div>Starting at $1010.65* per occupant</div>
          <div class="text-xs">Total Price: $2021.30</div>
        </ng-template>

        <ul class="list-disc  ml-8">
          <li>Includes dedicated stateroom attendant </li>
          <li>Attached bathroom w/ toiletries included</li>
        </ul>
      </p-card>
      <p-card header="" class="xl:flex">
        <ng-template #header>
          <div class="flex flex-row justify-center  ">Balcony 4B</div>
          <img class="object-cover w-full xl:min-h-[30vh] md:min-h-[40vh]" ngSrc="balcony2027.jpg" priority width="100" height="100" />
        </ng-template>
        <ng-template #title>
          <div class="">
            Balcony 4B
          </div>
        </ng-template>
        <ng-template #subtitle>
          <div>Starting at $1440.65* per occupant</div>
          <div class="text-xs">Total Price: $2881.30</div>
        </ng-template>

        <ul class="list-disc  ml-8">
          <li>Includes ocean side view.</li>
          <li>Private balcony.</li>
          <li>Includes dedicated stateroom attendant </li>
          <li>Attached bathroom w/ toiletries included</li>
        </ul>
      </p-card>
      <p-card header="" class="xl:flex">
        <ng-template #header>
          <div class="flex flex-row justify-center  ">Balcony 2B</div>
          <img class="object-cover w-full xl:min-h-[30vh] md:min-h-[40vh]" ngSrc="balcony2027.jpg" priority width="100" height="100" />
        </ng-template>
        <ng-template #title>
          <div class="">
            Balcony 2B
          </div>
        </ng-template>
        <ng-template #subtitle>
          <div>Starting at $1540.65* per occupant</div>
          <div class="text-xs">Total Price: $3081.30</div>
        </ng-template>

        <ul class="list-disc  ml-8">
          <li>Includes ocean side view.</li>
          <li>Private external balconey.</li>
          <li>Includes dedicated stateroom attendant </li>
          <li>Attached bathroom w/ toiletries included</li>
        </ul>
      </p-card>
    </div>
  </div>

  <div class="flex flex-col  lg:flex-row my-6">
    <div class="basis-1/2">
      <div class="my-4 basis-6/12 text-center">
        <div class="text-2xl font-semibold text-gray-600  ">Only $200.00* due at time of reservation</div>
        <div class="text-sm text-gray-500">*Minimum of $400 per cabin</div>
      </div>
    </div>
    <div class="basis-1/2">

      <a href="https://www.goseatravel.com/GroupRegistrations/view/133562" target="_blank">
        <div class="py-2 px-4 button rounded-xl text-center  content-center cursor-pointer">
          <span class="text-2xl font-semibold  text-white">Book Now!</span>
        </div>
      </a>

      <!--       <div class="py-2 px-4 button opacity-50 disabled rounded-xl text-center  content-center ">
              <span class="text-2xl font-semibold  text-white">Coming Soon!</span>
            </div>
       -->
      <div class="text-sm text-gray-400">
        ‡ Price minimum per cruiser when 2 cruisers are in the room. Price includes tax, fees, port expenses, gratituities, and internet access for 1 device per cruiser. Packages, addons, and upgrades are not included. Prices may vary depending on upgrades, room selection, and addons purchased. See below for what is included in the price of the cabin.
      </div>
    </div>
  </div>

  <app-cruise-footer></app-cruise-footer>
</article>
<div class="lg:mb-12 hidden lg:block">
  <div class="hidden">spacing footer</div>
</div>
