<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tips: Bring Your Own Drinks & Food
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>


    <div>
      <div class="text-2xl font-bold">
        Can I bring my own Alcohol onboard to drink?
      </div>
      <div class="text-gray-500 text-xl">
        On embarkation day, each guest of drinking age may bring one (1) sealed 750 ml bottle of wine or champagne. Boxed wine and other containers are prohibited. Guests who purchase alcohol bottles onboard, in a port-of-call, or bring more than the one permitted bottle on boarding day, will have their items safely stored by the ship. These bottles will be returned on the last day onboard for enjoyment once home.
      </div>
      <div class="text-gray-500 text-xl">
        NOTE: Cruisers under the age of 21 cannot bring alcohol on board regardless, and underage individuals attempting to bring alcohol on board will have their alcohol confiscated and they will be denied boarding.
      </div>
      <div class="text-gray-500 text-xl">
        Alcoholic beverages (beer, seltzer or hard liquor) seized on embarkation day will not be returned.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        What if I buy Alcohol at a port?
      </div>
      <div class="text-gray-500 text-xl">
        Yes. However, alcohol bought at ports will be stored until the last night of the cruise.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        What if I buy alcohol in the shops on the boat?
      </div>
      <div class="text-gray-500 text-xl">
        All liquor bottles purchased at the onboard shops cannot be taken to your stateroom. It will be stored during the duration of the cruise and then distributed on the last night of the voyage.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        What about non-alcoholic beverages?
      </div>
      <div class="text-gray-500 text-xl">
        Guests may also bring non-alcoholic beverages as carry-on items on boarding day. Non-alcoholic beverages may not exceed 12 standard (17 oz.) cans, bottles or cartons per stateroom. Milk and distilled water brought on for infant, medical, or dietary use are permitted.
      </div>
    </div>

   <!--  <div>
      <div class="text-2xl font-bold">
       header 
      </div>
      <div class="text-gray-500 text-xl">
      body 
      </div>
    </div> -->

  </div>
</article>
