<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="text-3xl lg:text-4xl font-semibold text-gray-600 text-center">
      Host an event
    </div>

    <div>
      Please read the rules below before submitting:
    </div>
    <div class="font-bold text-xl lg:text-2xl font-bold">
      Introduction
    </div>

    <div class="ml-2">
      Hello potential panelist!  Thank you for considering us for you panels.  Below, are our panel policies followed by the application form.  Every convention has a different set of policies, so please read and understand them. Panel submissions will close <span class="font-semibold">2 months</span> prior to the convention and all notifications should be out prior to <span class="font-semibold">1 month</span> before the convention.
    </div>

    <div>
      <div class="text-xl text-gray-600 font-semibold">
        Panelist Reimbursement Policy
      </div>
      <div class="ml-2">
        At this time Colossalcon Cruise is unable to provide any reimbursements for panelist and relies on volunteers for panelist.
      </div>
    </div>

    <div>
      <div class="text-xl text-gray-600 font-semibold">
        Panel Policy
      </div>
      <div class="ml-2">
        The panel schedule is constructed of 1 hour blocks.  However, you will need time to setup and wrap up your panel, as explained below.  Between the 10 minutes to tear down, and the 5 minutes to set up, you will have 45 minutes to present your panel.  If you have a 2 hour block, then it will be 105 minutes.  For a 3 hour block, 165 minutes, and so on.  Please request an appropriate block of time to give your panel, but keep in mind we favor 1 hour blocks.
        Panelists must begin wrapping up their panel 10 minutes before the end of the scheduled time.  Panelists and attendees should have cleared the room before the end of the scheduled time.
        Please allow yourself 5 minutes to set up your panel.  If you need to hook up your laptop or tablet to a projector or tv, and are not already completely familiar with how, please let a staff member know via email before the cruise start. colossalconcruise&#64;gmail.com
        Panels that begin more than 15 minutes late can still continue but must end on time.
        Panelists are responsible for cleaning up any trash or beverages they’ve brought into the room.
        Please try not to rearrange the room or move the A/V equipment around.  If you must, then please reset the room before you leave.
        Emergencies happen.  It’s okay.  Inform Colossalcon Cruise staff in the event of an emergency or other occurrence that will prevent the panelist/s from conducting their scheduled panel(s). You can email us at colossalconcruise&#64;gmail.com
      </div>
    </div>

    <div>
      <div class="text-xl text-gray-600 font-semibold">
        “All Ages” Panel Policy
      </div>
      <div class="ml-2">
        Any panel should be deemed all ages if the material is deemed acceptable for American television and is not rated higher than PG-13.
        If your panel is “All Ages” the following things are not acceptable:
        <ul class="list-disc ml-5">
          <li>Any content already outlined specifically for 18+ panels</li>
          <li>Swear words</li>
          <li>Racial slurs</li>
          <li>Hate speech</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="text-xl text-gray-600 font-semibold">
        “All Ages (language warning)” Panel Policy
      </div>
      <div class="ml-2">
        Any panel should be deemed all ages with a language warning if the material is deemed acceptable for American television and is not rated higher than R. Audiences for All Ages (language warning) panels WILL NOT be age verified at the door.
        If your panel is “All Ages (language warning)” the following things are not acceptable:
        <ul class="list-disc ml-5">
          <li>Any content already outlined specifically for 18+ panels</li>
          <li>Racial slurs</li>
          <li>Hate speech</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="text-xl text-gray-600 font-semibold">
        “18+” Panel Policy
      </div>
      <div class="ml-2">
        Any panel should be deemed 18+ if the material is deemed “adult material” or viewed as “inappropriate for minors”. All panelists for 18+ panels must be 18+ years of age or older on the day of the panel, no exceptions. Audiences for 18+ panels are age verified at the door.
        Panel content that is deemed 18+ includes, but is not limited to:
        <ul class="list-disc ml-5">
          <li>Adult language and cursing</li>
          <li>Hentai</li>
          <li>Sexual Intercourse</li>
          <li>Nudity or partial nudity</li>
          <li>Sexuality</li>
          <li>Gore</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="ml-2">
        If you’re still not sure if your panel should be considered 18+, please contact us and let’s discuss it, or simply play it safe and label it 18+.
        Additionally, the following things will not be tolerated in any panel;
        <ul class="list-disc ml-5">
          <li>Racial slurs</li>
          <li>Hate speech (including homophobic slurs)</li>
        </ul>
      </div>
    </div>

    <p>
      Attendees for 18+ panels must present a government issued ID showing that they are 18 years of age at the time of the panel. No attendee will be admitted to an 18+ panel without the government issued ID.
    </p>
    <p>
      If you have any questions, concerns, or suggestions, please e-mail the programming department at colossalconcruise&#64;gmail.com
    </p>
    <p>
      Thanks!!!!
    </p>




  </div>
</article>
