<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      Pre/Post Cruise
    </div>
    <div class="text-3xl font-semibold">
      Info: Check-In Process
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div>
      This will cover various issues that may occur prior to boarding.
    </div>

    <div>
      <ul class="list-decimal ml-4">
        <li class="text-2xl text-gray-700 font-semibold my-4">
          Parking at the Port
          <ul class="list-disc ml-8">
            <li class="text-gray-500 font-normal my-4">
              <span class="text-gray-700 font-semibold">Cost:</span> Parking is available on-site at a rate of $25 per night. Payment is required upon arrival.
            </li>
          </ul>
        </li>
        <li class="text-2xl text-gray-700 font-semibold my-4">
          Baggage Handling
          <ul class="list-disc ml-8 *:my-4">
            <li class="text-gray-500 font-normal ">
              <span class="text-gray-700 font-semibold">Porter Service:</span> Upon arrival, you have the option to entrust your bags to an official Royal Caribbean Porter. While tipping is customary and appreciated, it’s optional.
            </li>
            <li class="text-gray-500 font-normal">
              <span class="text-gray-700 font-semibold">Warning:</span> Avoid giving porters bags containing essential items like medication or passports, as you won’t have access to these bags immediately.
            </li>
            <li class="text-gray-500 font-normal">
              <span class="text-gray-700 font-semibold">Tip:</span> For those preferring to keep their luggage with them, consider “The Key” upgrade for direct luggage delivery to your cabin.
            </li>
          </ul>
        </li>
        <li class="text-2xl text-gray-700 font-semibold my-4">
          Terminal Check-In
          <ul class="list-disc ml-8 *:my-4">
            <li class="text-gray-500 font-normal">
              <span class="text-gray-700 font-semibold">Documentation:</span> Ensure you have your Set Sail QR Code (available in the Royal Caribbean App) and appropriate identification (Passport/Passport Card or Birth Certificate and Driver’s License).
            </li>
          </ul>
        </li>
        <li class="text-2xl text-gray-700 font-semibold my-4">
          Boarding Wait
          <ul class="list-disc ml-8 *:my-4">
            <li class="text-gray-500 font-normal">
              <span class="text-gray-700 font-semibold">Timing:</span> Boarding typically commences between 10am and 11am, after the ship is cleared. Your Set Sail QR Code will be your main document for boarding.
            </li>
          </ul>
        </li>
        <li class="text-2xl text-gray-700 font-semibold my-4">
          Pre-Cabin Access
          <ul class="list-disc ml-8 *:my-4">
            <li class="text-gray-500 font-normal">
              <span class="text-gray-700 font-semibold">Onboard Purchases:</span> Use your Set Sail QR Code for transactions onboard until your cabin becomes accessible, generally around 1-2pm.
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</article>
