<article>

  <div class="deep-blue text-white font-bold text-center p-7">
    <p>Anime and Adventure on the High Seas!</p>
  </div>

  <div class="container mx-auto p-6 text-gray-600 flex flex-col text-md md:text-lg">
    <h1 class="large-text" id="voyager-of-the-seas-royal-caribbean">Voyager of the Seas (Royal Caribbean)</h1>
    <p class="my-2">Departs from <span class="hyperlink"><a href="https://maps.app.goo.gl/U3t7NJL7TKTm3GKR8" target="_blank">Port Canaveral</a></span>🌐 on Thursday, Feb 27, 2025 and returns Monday, March 3.</p>
    <h2 class="font-semibold text-2xl mb-4" id="itinerary">Itinerary</h2>
    <ol class="list-decimal  ml-8">
      <li><strong>Thu, Feb 27:</strong> Depart Port Canaveral (Sail &#64; 2:30pm)</li>
      <li><strong>Fri, Feb 28:</strong> <span class="hyperlink" routerLink="/info-and-tips/cococay" routerLinkActive="active"> Perfect Day at CocoCay</span> (7am-5pm)</li>
      <li><strong>Sat, Mar 1:</strong> Sea Day 🌊</li>
      <li><strong>Sun, Mar 2:</strong> <span class="hyperlink" routerLink="/info-and-tips/bimini" routerLinkActive="active"> Bimini, Bahamas</span> (8am-5pm)</li>
      <li><strong>Mon, Mar 3:</strong> Return to Port Canaveral (7am)</li>
    </ol>

    <h1 class="large-text" id="cabins-starting-price">Cabins Starting Price</h1>
    <p>Cabins start at $753.28!✲</p>

    <div class="bg-blue-500 rounded w-full p-3 text-center text-white my-4 cursor-pointer hover:shadow hover:bg-blue-400" routerLink="/booking/cruise" routerLinkActive="active">
      <div class="book-now">Book Now</div>
    </div>

    <h2 class="large-text" id="benefits-of-booking">Benefits of Booking</h2>
    <p class="my-2">When you book with us, you’ll enjoy an all-inclusive package for 5 days of fun, including:</p>
    <ul class="list-disc  ml-8">
      <li><strong>Wifi Access:</strong> Wifi for 1 Device per cruiser.</li>
      <li><strong>Food:</strong> Enjoy the exquisite cuisine of Royal Caribbean.</li>
      <li><strong>Cabin Stay:</strong> Comfortable accommodation for the duration of your journey.</li>
      <li><strong>Exclusive Lanyard:</strong> Receive a ColossalCon Cruise 2025 Lanyard, perfect for storing your sea pass!</li>
      <li><strong>Special Events:</strong> Access to ColossalCon Cruise 2025 Exclusive Events.</li>
    </ul>
    <h3 class="large-text" id="all-inclusive-experience">All-Inclusive Experience</h3>
    <p class="my-4">Embark on an unforgettable journey with our 5-day, all-inclusive cruise package. Immerse yourself in the exclusive CCC 2025 events, designed to create unique and lasting memories. Enjoy a blend of relaxation, adventure, and entertainment tailor-made for our cruisers.</p>
    <small class="container p-2 bg-gray-300/50 rounded-lg border border-solid border-black leading-snug">
      <p class="my-4"><strong>✲ Important Pricing Information</strong></p>
      <ul class="list-disc ml-4">
        <li>The listed price is for an interior cabin, per person, and is estimated based on a cabin with two cruisers.</li>
        <li>The price includes port fees and taxes.</li>
        <li>Please note that the price does not include additional options such as the Drink Package, the Key, Spa usage, or paid excursion events.</li>
        <li>Prices do not cover hotel accommodations before or after the cruise, airfare, or transportation to/from the cruise port.</li>
      </ul>
      <p class="my-4">Please see <span class="hyperlink" routerLink="/rules/terms_general" routerLinkActive="active">Terms and Conditions</span> for more information regarding booking.</p>
    </small>
  </div>
</article>
