<div>
    <div class="my-10">
      <div class="large-text text-gray-600">
        Your Cabin Awaits!
      </div>
      <div>
        Embark on a thrilling 5-day adventure with us! Your cabin is more than just a place to stay; it’s your gateway to an unforgettable journey tailored for anime and gaming enthusiasts.
      </div>
    </div>

    <div class="large-text text-gray-600">
      What’s Included in Your Cabin Price?
    </div>

    <div class="my-12">

      <ul class="list-none  ml-8">
        <li class="text-2xl font-medium text-gray-700">
          <ul class="list-disc ">
            📋 Convention Lanyard
            <li class="ml-2 font-normal my-8 ml-9 text-gray-500">
              <span class="font-medium text-gray-700">Exclusive ColossalCon Cruise Lanyard:</span> Receive a special lanyard designed for our cruisers, this will grant you access to our exclusive events and excursions! Not just a stylish accessory, it safely stores your SetSail card, keeps your hands free for fun and games, and lets you enjoy the convention in some amazing ways!
            </li>
          </ul>
        </li>
      </ul>

      <ul class="list-none  ml-8">
        <li class="text-2xl font-medium text-gray-700">
          <ul class="list-disc ">
            🚢 A Home at Sea
            <li class="ml-2 font-normal my-8 ml-9 text-gray-500">
              <span class="font-medium text-gray-700">Stay in Style:</span> Your cabin, a cozy retreat for the entire 5-day voyage. Whether it’s a peaceful haven or a party hub, your cabin is where your adventure begins and ends each day.
            </li>
          </ul>
        </li>
      </ul>

      <ul class="list-none  ml-8">
        <li class="text-2xl font-medium text-gray-700">
          <ul class="list-disc ">
            🍽 Royal Caribbean Cuisine
            <li class="ml-2 font-normal my-8 ml-9 text-gray-500">
              <span class="font-medium text-gray-700">Dine Like Royalty:</span> Indulge in Royal Caribbean’s exquisite culinary offerings. From lavish buffets to elegant dinners, every meal is a celebration of flavors.
            </li>
          </ul>
        </li>
      </ul>

      <ul class="list-none  ml-8">
        <li class="text-2xl font-medium text-gray-700">
          <ul class="list-disc ">
            🎉 Exclusive ColossalCon Cruise Events
            <li class="ml-2 font-normal my-8 ml-9 text-gray-500">
              <span class="font-medium text-gray-700">Epic Entertainment:</span> Dive into exclusive ColossalCon Cruise events. Participate in the Beach Episode Cosplay Contest, join the Ninja Bar Crawl, and more surprises to come! Each event is crafted for fans like you to create memories that last a lifetime.
            </li>
          </ul>
        </li>
      </ul>

      <ul class="list-none  ml-8">
        <li class="text-2xl font-medium text-gray-700">
          <ul class="list-disc ">
            📱 Stay Connected
            <li class="ml-2 font-normal my-8 ml-9 text-gray-500">
              <span class="font-medium text-gray-700">Wifi Onboard:</span> Stay connected with 1 Free Device Wifi per cruiser. Share your experiences, upload your best cosplay shots, and stay in touch with fellow cruisers and friends back home.
            </li>
          </ul>
        </li>
      </ul>

    </div>

    <div class="text-lg lg:text-2xl  text-gray-600 my-8">
      Your booking on the ColossalCon Cruise isn’t just a place to sleep; it’s your ticket to an immersive world where anime and gaming culture come to life on the high seas. Book now and join us for an experience you’ll cherish forever!
    </div>

    <div class="text-lg lg:text-2xl  text-gray-500">
      Please see <span class="hyperlink" routerLink="/rules/terms_general" routerLinkActive="active">Terms and Conditions</span>  for more information regarding booking.
    </div>
  </div>

