
<div class="flex flex-col lg:flex-row p-4">
  <div class="basis-1/4 space-y-6 *:cursor-pointer">
    <div class="flex flex-col space-y-4">
      <p-button label="Tip: Booking your own excursions" styleClass="bg-gray-400 border-gray-500 hover:border-gray-600 hover:bg-gray-500 w-full" routerLink="excursions" severity="info"></p-button>
      <p-button label="Tip: Your Banks Fraud Stops" styleClass="bg-gray-400 border-gray-500 hover:border-gray-600 hover:bg-gray-500 w-full" routerLink="fraud" severity="info"></p-button>
    </div>
  </div>
  <div class="basis-3/4">
    <div class="container mx-auto p-7">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<div class="container mx-auto p-7">
</div>
