<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      Coco-Cay
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Info: Events on the island
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      This section covers common places to visit and events to do on Coco-Cay
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Places to eat.
    </div>

    <div>
      <div class="mb-2 text-lg">
        All food on the island is complimentary, and covered by your cruise.
      </div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Skipper's Grill:
          <div class="inline text-gray-500 font-medium">
            All american food and ice cream.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Chill Grill:
          <div class="inline text-gray-500 font-medium">
            Classic BBQ
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Taco Bar:
          <div class="inline text-gray-500 font-medium">
            Build your own tacos.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Snack Shack:
          <div class="inline text-gray-500 font-medium">
            Specialty chicken sandwiches.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Buffet:
          <div class="inline text-gray-500 font-medium">
            A buffet is also available for a certain amount of time. Check the ship schedule.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Bars and pools
    </div>

    <div>
      <div class="mb-2 text-lg">
        The following bars and pools are available.
      </div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Oasis lagoon swim-up bar:
          <div class="inline text-gray-500 font-medium">
            One of the primary swim-up bars colossal con goers attend. A very large swim up pool with submerged bar centered on the north end.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Captain Jack's:
          <div class="inline text-gray-500 font-medium">
            At the entrance to the island. Serves both food and drinks.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          South Beach:
          <div class="inline text-gray-500 font-medium">
            Despite the name, this beach is located on the north end of the island. Includes games such as volleyball, the Snack Shack and drinks are available on a floating bar.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Chill Island:
          <div class="inline text-gray-500 font-medium">
            On the west end of the island. Includes the Chill Grill, white sand beaches and plenty of room to relax.
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Thrill Waterpark
    </div>

    <div>
      <div class="mb-2 text-lg">
        Coco-Cay also includes a separate waterpark.
      </div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Daredevil's Tower:
          <div class="inline text-gray-500 font-medium">
            One of two waterslides.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Wave Pool:
          <div class="inline text-gray-500 font-medium">
            A massive wave pool.
          </div>
        </li>
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Splash Summit:
          <div class="inline text-gray-500 font-medium">
            Six different slides, including Daredevil's Peak
          </div>
        </li>
      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      A map of the island can be found below.
    </div>
    <img class="object-cover w-full" ngSrc="cococay-map-full.webp" priority width="100" height="100" />
    <a class="hyperlink" href="cococay-map-full.webp" download="map-of-coco-cay.webp">Download map</a>

  </div>
</article>
