<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Tips: Beverage Packages
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>

    <div>
      <div class="text-2xl font-bold">
        What type of drinks come included without any package?

      </div>
      <div class="text-gray-500 text-xl">
        All guests can enjoy ice water, flavored waters, brewed coffee, assorted teas, iced tea, hot chocolate, milk, lemonade and fruit juices. These are dispensed at self-serve machines in Windjammer Café and other casual dining venues and served in the Main Dining Room and other restaurants.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        What are the types of beverage packages?
      </div>
      <div class="text-gray-500 text-xl">
        <ul class="list-disc ml-8">
          <li>
            Deluxe Beverage Package: Offers unlimited alcohol (up to $14 per drink), a $14 discount on more expensive drinks, unlimited mocktails, premium coffee/tea (excluding Starbucks), discounts on wine bottles, and a Freestyle Beverage Cup for refills.
          </li>
          <li>
            Refreshment Package: Includes unlimited mocktails, premium coffee/tea (excluding Starbucks), and a Freestyle Beverage Cup.
          </li>
          <li>
            Classic Package: Comes with a Freestyle Beverage Cup for easy refills at any Freestyle location.
          </li>
          <li>
            Water Can Packages: Choose between 12 or 24 packs of canned water, delivered directly to your stateroom.
          </li>
          <li>
            Café Select Coffee Card: A 15-punch card for premium coffee drinks (excluding Starbucks).
          </li>
        </ul>
      </div>
      <div class=" text-xl my-2">
        All packages purchased pre-cruise will be charged for every day you are scheduled to be on the cruise including the day you arrive on the boat and the day we leave.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        How do I purchase them?
      </div>
      <div class="text-gray-500 text-xl">
        You can pre-purchase your package online at <a class="hyperlink" href="https://www.royalcaribbean.com/booked?country=USA">https://www.royalcaribbean.com/booked?country=USA</a> and log in with the email you used to book your cruise through our planners. This can be done up to 72 hours before we set sail.
      </div>
      <div class="text-gray-500 text-xl mt-2">
        Also, you may purchase your package once we’re onboard the boat within the first 2 days of the cruise.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Does everyone in my room have to get the same package?
      </div>
      <div class="text-gray-500 text-xl">
        If one person in a stateroom opts for the Deluxe Beverage Package, all adults above the legal drinking age in the same stateroom are typically required to purchase it as well. However, exceptions may be made for non-drinkers through customer service on a case-by-case basis. Typically, they will require a minimum of a classic package to be purchased for the non-drinkers.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Where is my package valid?
      </div>
      <div class="text-gray-500 text-xl">
        Your package is valid at any of the restaurants (unless otherwise stated), cafes, and dining rooms on the boat. It is also able to be used on Cococay.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Do they go on sale?
      </div>
      <div class="text-gray-500 text-xl">
        Typically you will get a max of 30%-40% off when purchasing before your cruise.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        How am I identified as having a beverage package?
      </div>
      <div class="text-gray-500 text-xl">
        Your SeaPass® will have either a sticker or a printed verification of your package. The bar staff will request to see your SeaPass for verification prior to service, so keep it handy.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Is there a daily limit for drinks with the Deluxe Beverage Package?
      </div>
      <div class="text-gray-500 text-xl">
        No, There is not a daily limit for drinks with the Deluxe Beverage Packages.
      </div>
    </div>


    <div>
      <div class="text-2xl font-bold">
        Are gratuities(tips) included?
      </div>
      <div class="text-gray-500 text-xl">
        Yes. Except where prohibited by law an 18% gratuity will be automatically added to the pre-cruise or onboard purchase of a beverage package.
      </div>
    </div>

    <div>
      <div class="text-2xl font-bold">
        Any other options?
      </div>
      <div class="text-gray-500 text-xl">
        Yes, there are some limited options on bringing your own drinks (please see tip here LINK) as well as you can go to the Royal Caribbean cruise planner and buy some limited canned options of alcoholic and non-alcoholic drinks that can be purchased up to 48 hours before your cruise and will be waiting for you in your stateroom.
      </div>
    </div>


  </div>
</article>
