<article class="container mx-auto p-7">
  <div class="flex flex-col gap-y-4">
    <div class="font-bold">
      The Ship
    </div>
    <div class="text-3xl lg:text-4xl font-bold">
      Info: Beverage Packages
    </div>
    <div class="text-sm">
      January 27, 2024
    </div>
    <div class="text-gray-500 text-2xl">
      Royal Caribbean offers a variety of beverage packages to enhance your cruising experience, each tailored to different preferences and needs.
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Package Overview
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Deluxe Beverage Package:
          <div class="inline text-gray-500 font-medium">
            Offers unlimited alcohol (up to $13 per drink), a $13 discount on more expensive drinks, unlimited mocktails, premium coffee/tea (excluding Starbucks), discounts on wine bottles, and a Freestyle Beverage Cup for refills.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Refreshment Package:
          <div class="inline text-gray-500 font-medium">
            Includes unlimited mocktails, premium coffee/tea (excluding Starbucks), and a Freestyle Beverage Cup.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Classic Package:
          <div class="inline text-gray-500 font-medium">
            Comes with a Freestyle Beverage Cup for easy refills at any Freestyle location.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Water Can Packages:
          <div class="inline text-gray-500 font-medium">
            Choose between 12 or 24 packs of canned water, delivered directly to your stateroom.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Café Select Coffee Card:
          <div class="inline text-gray-500 font-medium">
            A 15-punch card for premium coffee drinks (excluding Starbucks).
          </div>
        </li>

      </ul>
    </div>

    <div class="text-4xl my-4 text-gray-600 font-bold">
      Important Tips
    </div>

    <div>
      <ul class="list-disc ml-8 space-y-2">
        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Deluxe Package Policy:
          <div class="inline text-gray-500 font-medium">
            If one person in a stateroom opts for the Deluxe Beverage Package, all adults in the same stateroom are typically required to purchase it as well. However, exceptions may be made for non-drinkers through customer service on a case-by-case basis.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Use at CocoCay:
          <div class="inline text-gray-500 font-medium">
            Beverage packages extend to CocoCay, allowing you to enjoy your package benefits both on the ship and on the island.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Pre-Purchase Benefits:
          <div class="inline text-gray-500 font-medium">
            Purchasing your drink package before boarding can offer savings compared to buying on the ship.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Pricing Consistency:
          <div class="inline text-gray-500 font-medium">
            In 2023, Deluxe Drink Packages did not go on sale, indicating that pre-cruise prices are likely a good indicator of what you’ll pay.
          </div>
        </li>

        <li class="text-gray-600 font-bold text-lg lg:text-2xl">
          Value Consideration:
          <div class="inline text-gray-500 font-medium">
            <ul class="list-circle ml-8">
              <li>
                One thing to note is that the Deluxe Beverage Package comes out to requiring that you drink 6 mixed drinks, or 7 shots of alcohol per day to break even. You must also lump the final day’s drinks in the rest of the voyage, as bars are not open on the final morning.
              </li>
              <li>
                If you think you can’t drink that much, its recommended to not get the Deluxe Beverage Package, and instead get drinks Ala Carte on the boat. Getting the Classic Package is a good alternative, and juices, milk and generic drinks are still available at the Windjammer even if you don’t get a package.
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>

  </div>
</article>
