/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

$color-hover: #adbaff;
$color-primary: #a2d9f7;
$color-secondary: #EE2F68;
$color-button: #09b1e7;
$color-button-hover: #06a2d4;

.hyperlink {
  @apply underline text-blue-500 cursor-pointer;

  &:hover {
    @apply text-blue-500/50;
  }
}

.p-card {
  .p-card-header {
    @apply rounded-t-lg;
    background-color: $color-primary;
    color: white;
    @apply transition ease-in-out;
  }

  &:hover .p-card-header {
    background-color: $color-hover;
    color: $color-secondary;
    @apply transition ease-in-out;
  }

  &:hover {
    @apply transition ease-in-out bg-gray-50;
  }
}

.text-outline {
  text-shadow: #000 1px 1px 3px;
  -webkit-font-smoothing: antialiased;
}

.deep-blue {
  background-color: #0789b3;
}

.button {
  background-color: $color-button;

  &:hover:not(.disabled) {
    background-color: $color-button-hover;
  }
}

.large-text {
  @apply my-4 text-4xl font-semibold;
}

.list-circle {
  list-style: circle;
}
