<article class="container mx-auto p-7">
    <div class="flex flex-col gap-y-4">
        <div>
At the end of island pearls known as the Florida Keys is the surprising town of Key West. Many well known writers and artists have made this historic enclave home over the years including Hemingway, Tennessee Williams and Robert Frost. Spectacular sunsets splendid Victorian suroundings make for modern day magic on the southernmost island in the U.S.
        </div>
        
        <div>
            <div>
        <strong>
Attractions & Activities
        </strong>
            </div>
        Enjoy the pleasures of a glass-bottom boat on a unique and informative eco-tour of the only living coral reef in the continental United States. It's home to over 300 species of fish, which complete the colorful and intriguing seascape. The boats are specially designed to provide maximum viewing with minimum stress to the delicate reef environment.
        </div>
    </div>
</article>
